{{ title = "Index" }}
{{include "layouts/header.view.html"}}

<div class="text-header bg-primary">
  <h1 class="jumbotron-heading text-center">
    Rsq Browser
  </h1>

  <p class="lead text-center">
    This service allows you to search and compare imputation qualities<br>
    among different populations, genotyping arrays and reference panels.
  </p>
</div>

<div id="container" class="container" style="padding-top:40px; padding-bottom:40px;"">
  <div class="row justify-content-md-center">
    <div class="col-sm-5 text-center">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="region-tab" data-toggle="tab" href="#region" role="tab" aria-controls="home" aria-selected="true">Region ({{configuration.build}})</a>
            </li>
            {{if (configuration.getGenes() != null)}}
            <li class="nav-item">
              <a class="nav-link " id="gene-tabn" data-toggle="tab" href="#gene" role="tab" aria-controls="home" aria-selected="false">Gene</a>
            </li>
            {{end}}
          </ul>
          <br>
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane show active" id="region" role="tabpanel" aria-labelledby="region-tab">        
        		 <form action="{{routeUrl("queries_create",{})}}" method="post" enctype="multipart/form-data" onSubmit="waitDialog()">
			        <div class="form-group">
			          <input name="q" class="form-control" placeholder="chr1:2000000-5000000" autocomplete="off" value="chr1:10000000-11000000">
			        </div>
			        <div class="form-group">
        			</div>
        			<br>
        			<button type="submit" id="submit" class="btn btn-primary btn-lg btn-upload">Search</button>
        		 </form>
			  </div>
			   {{if (configuration.getGenes() != null)}}
			  <div class="tab-pane" id="gene" role="tabpanel" aria-labelledby="gene-tab">        
			     <form action="{{routeUrl("queries_create",{})}}" method="post" enctype="multipart/form-data" onSubmit="waitDialog()">
			  
			        <div class="form-group">
			          <input name="q" class="form-control" placeholder="LPA" autocomplete="off" value="LPA">
			        </div>
				  <div class="form-group">
	      		  </div>
	        	  <br>
	        		<button type="submit" id="submit" class="btn btn-primary btn-lg btn-upload">Search</button>
	        	</form>
			  </div>
			       {{end}}			  
        	</div>

    </div>
  </div>
</div>
<hr>
<div class="container pt-3" style="padding-bottom:40px;">
  <div class="row justify-content-center text-center ">
    <div class="col-md-3 text-center">
      <p>
        <span class="lead" style="font-size: 200%;">{{configuration.getPopulations().size()}}</span><br>
        Populations
      </p>
    </div>
    <div class="col-md-3 text-center">
      <p>
        <span class="lead" style="font-size: 200%;">{{configuration.getChips().size()}}</span><br>
        Genotyping Arrays
      </p>
    </div>
    <div class="col-md-3 text-center">
      <p>
        <span class="lead" style="font-size: 200%;">{{configuration.getReferences().size()}}</span><br>
        Reference Panels
      </p>
    </div>
  </div>
</div>

{{include "layouts/footer.view.html"}}
